<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="ProductMgmtConnString" connectionString="Data Source=PRJ;Initial Catalog=ProductManagement;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProductService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57427/ProductService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
        contract="ProductServiceReference.IProductService" name="BasicHttpBinding_IProductService" />
    </client>
  </system.serviceModel>
</configuration>
